.App {
  text-align: center;
  width: 80%;
  margin: auto;
}

.is-button-active {
  outline: 2px solid orange;
}
.field-seach {
  width: 50%;
}
.label-seach {
  width: 100px;
  white-space: nowrap;
}

.discription-fild {
  width: 90%;
  outline: none;
  resize: none;
  height: 200px;
}

.img {
  height: 100%;
  /* object-fit: cover; */
}

.h-100 {
  height: 100%;
}

.overlay-button {
  position: absolute;
}
.overlay-button-left {
  top: 75%;
  left: 0;
}
.overlay-button-right {
  top: 75%;
  left: 75%;
}
.button-transparent {
  background-color: Transparent;
  background-repeat: no-repeat;

  border: none;
  cursor: pointer;
}

.border {
  border: 2px solid grey;
}
