@import "~bulma/sass/utilities/initial-variables";
$widescreen: 1300px;
$fullhd: 1780px;
@import "~bulma/sass/utilities/functions";
@import "~bulma/sass/utilities/derived-variables";
@import "~bulma/sass/utilities/mixins";
@import "~bulma/sass/utilities/controls";
@import "~bulma/sass/utilities/extends";

@import "~bulma/sass/helpers/_all";
@import "~bulma/sass/grid/columns";

@include mobile() {
  .columns {
    margin: 0;
  }
}
