@import "../scss/bulma.scss";

.logo {
  min-height: 120px;
  .icon-logo {
    padding: 2.5rem;

    align-items: normal;
    line-height: 48px;
  }
}

.card-container {
  min-height: 200px;
  @include mobile() {
    height: 100%;
  }
  .card-text {
    margin: 20px;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.25;
    @include mobile() {
      height: 100%;
      font-size: 1.25rem;
    }
  }
}
