@import "../scss/bulma.scss";
.card-image-wrapper {
  width: 100%;
  @include mobile() {
    height: 300px;
  }
  .foto-real-estate-container {
    width: 100%;
    height: calc(100% - 30px);

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    &.logo-size {
      height: 150px;
      width: 100%;
      @include mobile() {
        width: 100%;
        height: 300px;
      }
    }
    &.large-size-image {
      height: calc(100vh - 50px);
      width: 100%;
      @include mobile() {
        width: 100%;
        height: 300px;
      }
    }
    &.midle-size-image {
      height: 500px;
      width: 100%;
      @include mobile() {
        height: 300px;
      }
    }
  }

  .image-info-bottom {
    display: flex;
    justify-content: space-between;
    height: 30px;
    @include mobile() {
      font-size: 1rem;
    }
  }
}

.logo-container {
  width: 100%;
  height: 100%;
}
