.range-selector-wrapper {
  .is-flex > .label {
    margin-right: 10px;
    margin-bottom: 0px;
    font-weight: 400;
    line-height: 2.5;
  }
}

.range-selector-block {
  display: flex;
  position: relative;
  width: 100%;
  height: 20px;
  .btn {
    position: absolute;
    width: 20px;
    height: 30px;
    cursor: pointer;
    bottom: -15px;
    border: 1px solid gray;
    transition: background-color 500ms linear;

    &.isDragging {
      background-color: #ffcc33;
    }
  }
  .min {
    user-select: none;
    position: absolute;
    width: 20px;
    height: 30px;
    cursor: pointer;

    .btn {
      left: -20px;
    }
  }
  .max {
    user-select: none;

    position: absolute;
    width: 20px;
    height: 30px;
    left: 10px;
    cursor: pointer;
    .btn {
      left: 0px;
    }
  }
  .pin-center {
    position: relative;
    width: 10px;
    height: 10px;
  }
}
